<h1>帮助</h1>
<ol>
	<li><a href="help1">如何加入</a></li>
  <li><a href="help2">如何查找企业客户</a></li>
  <li><a href="help3">如何给客户分类</a></li>
  <li><a href="help4">邮件通知客户</a></li>
  <li><a href="help5">短信通知客户</a></li>
<ol>
<h2 id="help1">1.如何加入</h2>
<p>点击“加入我们”=》“注册” 完成注册，申请免费使用</p>
<p></p>
<p></p>

<h2 id="help2">2.如何查找企业客户</h2>
<p>点击“加入我们”=》“注册” 完成注册，申请免费使用</p>
<p></p>
<p></p>

<h2 id="help3">3.如何给客户分类</h2>
<p>点击“加入我们”=》“注册” 完成注册，申请免费使用</p>
<p></p>
<p></p>

<h2 id="help4">4.邮件通知客户</h2>
<p>点击“加入我们”=》“注册” 完成注册，申请免费使用</p>
<p></p>
<p></p>


<h2 id="help5">5.短信通知客户</h2>
<p>点击“加入我们”=》“注册” 完成注册，申请免费使用</p>
<p></p>
<p></p>






