<div class="hero-unit">
	<h1>名录大全，黄页在线</h1>
	<p>提供全方位企业信息，多渠道收集企业信息，管理客户资源，跟踪企业发展，获取对手动态，分析商业情报。快速提供第一手资料。</p>
	<p><a class="btn btn-primary btn-large" href="/cpanel/">猛击进入 »</a></p>
</div>

<div class="content">
	<div class="row">
		<div class="span4">
			<h2>我的客户</h2>
			<p>我的客户我的客户</p>
			<p><a class='btn' href="#">进入 >></a>
		</div>
		<div class="span4">
			<h2>商业情报</h2>
			<p>商业情报</p>
		</div>
		<div class="span4">
			<h2>寻找客户</h2>
			<p>寻找客户</p>
		</div><!--/span-->
</div><!--/row-->
</div><!--/content-->


